venv/
logs/
__pycache__/
model*.*
tokenizer.*
tokenizer_config*.*
training_data*.*
chat_log*
last_executed_index.json
ingest/*
!ingest/placeholder.txt
!ingest/training*.txt
ingest_2/*
*.mp3
*.wav
*.exe